.d-flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-single {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.align-start {
    align-content: flex-start;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.container {
    margin: 0 -0.625rem;
}