#control-nav {
    height: var(--footer-heigth);
    background-color: #282828;
    align-items: center;
    padding: 0 .625rem;
    justify-content: space-between;
    width: 100%;
}


/*
*  Gestione generale immagini e icone
*/
.current img {
    max-width: 1.75rem;
    max-height: 1.75rem;
    margin-right: .625rem;
}

.ico {
    max-width: 1rem;

}

#control-nav div:not(.shortcuts) .ico {
    filter: invert(1);
}

.ico-big {
    max-width: 1.875rem;

    filter: invert(1);
}


/*
*  In riproduzione e preferiti
*/
.control-left {
    margin-right: auto;
}

.current {
    min-width: 5.625rem;
    align-items: center;

}



.current .col-mini:hover {
    text-decoration: underline;
}

.shortcuts {
    min-width: 1rem;
    margin: 0 1rem;
}

#control-nav div.shortcuts .ico:hover {
    filter: brightness(2);
}

/*
*  Controlli di riproduzione
*/
.player {
    max-width: 11.875rem;
    padding: 0 1.25rem;
}

.player > div {
    margin: 0 auto;

}

.player > div:first-child {
    max-width: 11.875rem;
    margin-bottom: .3125rem;
}

.player .ico:hover {
    scale: 1.2;
}

.player .ico-big:hover {
    scale: 1.2;
}

.player .slidecontainer {
    padding: 0 .5rem;
    width: 100%;
}

.player .slidecontainer > input {
    vertical-align: middle;
}

/*
*  Controlli audio
*/
.audio {
    margin-left: auto;
    column-gap: .375rem;
    max-width: 9.375rem;
}

.audio .slidecontainer {
    display: inline-block;
    vertical-align: middle;
}

.audio .slidecontainer > input {
    vertical-align: middle;
}


/*** Stile slider ***/
.slidecontainer {
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}

.player .slidecontainer:hover::before {
    content: '';
    display: block;
    background-color: var(--hover-color);
    width: 20%;
    height: 4px;
    position: absolute;
    top: 48%;
    left: 2%;
    border-radius: 4px;
    opacity: 1;
}


.audio .slidecontainer:hover::before {
    content: '';
    display: block;
    background-color: var(--hover-color);
    width: 20%;
    height: 4px;
    position: absolute;
    top: 48%;
    left: 0;
    border-radius: 4px;
}

.slider::-webkit-slider-thumb {
    opacity: 0;
}
.slider::-moz-range-thumb {
    opacity: 0;
}
.slidecontainer:hover .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #d3d3d3;
    cursor: pointer;
    opacity: 1;
}
  
.slidecontainer:hover .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d3d3d3;
    cursor: pointer;
    opacity: 1;
}


/*
*  Media queries
*/
@media  screen and (min-width: 552px) {
    .current {
        min-width: 7.5rem;
    }
    
    .player {
        min-width: 13.125rem;
    }

    .audio {
        max-width: 11.5625rem;
    }
}

@media  screen and (min-width: 640px) {
    .shortcuts {
        min-width: 3.125rem;
    }
    
    .shortcuts > img:first-child {
        margin-right: 1rem;
    }

    .player {
        min-width: 20rem;
    }
    
    .audio {
        max-width: 13.125rem;
    }
}

@media  screen and (min-width: 878px) {
    
    .player {
        min-width: 32.8125rem;
    }
    
    .audio {
        max-width: 13.125rem;
    }
}