header {
    height: var(--header-heigth);
    width: calc(100% - 3.125rem);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
}


/*
*  Media queries
*/
@media  screen and (min-width: 552px) {
    header {
        width: calc(100% - 14.375rem);
    }
}