main {
    height: calc(100vh - var(--footer-heigth) );
    overflow-y: hidden;
}


/*
*  Finestra principale
*/
#main-content {
    width: calc(100% - 3.125rem);
    width: 100%;
    background-color: #141922;
    padding: 6.875rem 1.25rem 0 1.25rem;
    overflow-y: auto;
}

#tabs h3 {
    padding: 0 1.25rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    position: relative;
}

#tabs h3:hover {
    color: #fff;
}

#tabs h3:hover::before {
    content: "";
    position: absolute;
    left: 33%;
    bottom: -0.3125rem;
    width: 33%;
    border-bottom: 2px solid var(--hover-color);
    border-radius: .0625rem;
}

/*** Manca funzione per evidenziare tab attiva, non gestibile solo in CSS ***/

#recents > h2 {
    margin-bottom: 2.5rem;
}

#for-you > h5,
#popular > h5 {
    margin-bottom: 2.5rem;
}

#popular img {
    border-radius: 50%;
}

#popular {
    margin-bottom: 2.5rem;
}

/*
*  Componente canzone
*/
article {
    width: calc(100% / 2);
    padding: 0 .625rem;
    text-align: center;
}

article h4 {
    margin-top: .9375rem;
    margin-bottom: .3125rem;
}

article h5 {
    margin-bottom: .3125rem;
}

.cover-art {
    max-width: 13.4375rem;
    position: relative;
}

.cover-art img {
    max-width: 100%;
    object-fit: cover;
}

/*
*  Hover caover art
*/
.cover-art::before {
    content: '';
    opacity: 0;
    transition: opacity 0.2s;
}

.cover-art:hover::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}

#popular .cover-art:hover::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: .5;
}

.cover-art:hover::after {
    content: '';
    background-image: url(../img/play.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
    opacity: 1;
}


/*
*  Media queries
*/
@media  screen and (min-width: 552px) {
    #main-content {
    width: calc(100% - 14.375rem); 
}
}

@media  screen and (min-width: 640px) {
    article {
        width: calc(100% / 4);
    }
}

@media  screen and (min-width: 878px) {
    article {
        width: calc(100% / 6);
    }
}