main {
    height: calc(100vh - var(--footer-heigth) );
    overflow: hidden;
}


/*
*  Finestra principale
*/
#main-content {
    width: calc(100% - 3.125rem);
    width: 100%;
    background-color: #141922;
    padding: 6.875rem 1.25rem 0 1.25rem;
}

#tabs h3 {
    padding: 0 1.25rem;
    text-transform: uppercase;
}

/*
*  Componente canzone
*/
article {
    width: calc(100% / 2);
    padding: 0 .625rem;
}

.cover-art {
    max-width: 13.4375rem;
}

.cover-art img {
    max-width: 100%;
    object-fit: cover;
}


/*
*  Media queries
*/
@media  screen and (min-width: 552px) {
    #main-content {
    width: calc(100% - 14.375rem); 
}
}