#side-nav {
    min-width: 3.125rem;
    background-color: #000;
    padding: 0 .625rem .625rem .625rem;
}

#side-nav .navigation span,
#side-nav .playlist,
#side-nav .profile span,
#side-nav .profile h3 {
    display: none;
}

/*** LOGO ***/
.logo-container {
    padding-top: .625rem;
    padding-bottom: .9375rem;
}

.logo {
    display: block;
    max-width: 1.875rem;
}

.logo-big {
    display: none;
    max-width: 8.125rem;
}

/*** Navigation ***/
nav div + * img {
    max-height: 1.5625rem;
}

.navigation a:not(:first-child) li {
    margin: .75rem 0;
}

.navigation li:hover {
    border-left: 2px solid var(--hover-color);
}

.navigation li > * {
    vertical-align: middle;
}

.navigation li:hover span {
    color: #fff;
}

/*** Playlist ***/
.playlist h3 {
    color: #fff;
    margin-bottom: .625rem;
}

.plus-icon {
    display: inline-block;
    color: #000;
    background-color: #A3A3A3;
    width: 2.3125rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    margin-right: .625rem;
}

div.playlist a:hover span:not(.plus-icon) {
    color: #fff;
}

div.playlist a:hover span.plus-icon {
    background-color: #fff;
}

.playlist a li {
    margin: 1.25rem 0;
}

ul.playlist a li:hover {
    border-left: 2px solid var(--hover-color);
    color: #fff;
}
/*** Se crea playlist deve stare all'interno ***/
/* ul.playlist a:not(:first-child) li:hover {
    border-left: 2px solid var(--hover-color);
    color: #fff;
} */

ul.playlist {
    overflow-y: auto;
}

/*** Profile ***/
.profile {
    margin-top: auto;
}

.profile li > * {
    vertical-align: middle;
}

.profile li:hover span {
    color: #fff;
}

.profile-ico {
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    background-color: grey;
}

.profile a:first-child li {
    text-align: center;
    padding-bottom: .625rem;
    margin-bottom: 1.25rem;
}

.profile a:first-child li img {
    max-width: .75rem;
}


/*** Media queries ***/
@media  screen and (min-width: 552px) {
    .logo-container {
        min-height: var(--header-heigth);
        padding-top: 1.25rem;
        padding-left: 1.25rem;
    }

    .logo {
        display: none;
    }

    .logo-big {
        display: block;
    }

    #side-nav {
        width: 14.375rem;
        padding: 0 1.25rem .625rem 0;
    }

    #side-nav .playlist h3,
    #side-nav div.playlist > a,
    #side-nav .profile {
        padding-left: 1.25rem;
    }

    #side-nav ul:not(.profile) li {
        padding-left: 1.25rem;
    }

    #side-nav .navigation span,
    #side-nav .playlist,
    #side-nav .profile span,
    #side-nav .profile h3 {
            display: initial;   
    }

    .profile a:first-child li {
        text-align: inherit;
        border-bottom: 1px solid var(--text-color);
    }
}





