#side-nav {
    min-width: 3.125rem;
    background-color: #000;
    /* height: 100%; */
    padding: 0 .625rem .625rem .625rem;
}

#side-nav nav .navigation span,
#side-nav nav .playlist,
#side-nav nav .profile span,
#side-nav nav .profile h3 {
    display: none;
}

/*** LOGO ***/
.logo-container {
    width: 100%;
    padding-top: .625rem;
    padding-bottom: .9375rem;
}
.logo-link {
    width: 100%;
}

.logo {
    display: block;
    max-width: 1.875rem;
}

/*** Navigation ***/
nav {
    width: 100%;
    /* height: 100%; */
    /* height: calc(100% - 2.8125rem); */
}

nav img {
    max-height: 1.5625rem;
}

nav > * {
    width: 100%;
}

.navigation li {
    margin: .75rem 0;
}

/*** Playlist ***/


/*** Profile ***/
.profile {
    align-self: flex-end;
}

.profile-ico {
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    background-color: grey;
}

.profile a:first-child li {
    text-align: center;
    padding-bottom: calc(1.25rem / 2);
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--text-color);
}
.profile a:first-child li img {
    max-width: .75rem;
}

@media  screen and (min-width: 552px) {
    .logo-container {
        min-height: var(--header-heigth);
        width: 100%;
        padding-top: 1.25rem;
    }

    #side-nav {
        max-width: 14.375rem;
        padding: 0 1.25rem .625rem 1.25rem;
    }

    #side-nav nav .navigation span,
    #side-nav nav .playlist,
    #side-nav nav .profile span,
    #side-nav nav .profile h3 {
            display: initial;   
    }

    .profile a:first-child li {
        text-align: inherit;
    }
}





