@import 'commons.css';
@import 'header.css';
@import 'side-navigation.css';
@import 'main.css';
@import 'footer.css';

/*
*  Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*
*  Debug
*/



/*
*  Generic
*/
body {
    font-family: 'Montserrat', sans-serif;
}