@import 'commons.css';
@import 'header.css';
@import 'side-navigation.css';
@import 'main.css';
@import 'footer.css';

/*
*  Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
}

/* a:active {
    color: var(--text-color);
} */

ul {
    list-style: none;
}

:root {
    --text-color: #7D7F84
}

/*
*  Debug
*/



/*
*  Generic
*/
body {
    font-family: 'Montserrat', sans-serif;
}