@import 'commons.css';
@import 'header.css';
@import 'side-navigation.css';
@import 'main.css';
@import 'footer.css';

/*
*  Variabili
*/
:root {
    --text-color: #7D7F84;
    --hover-color: #ADFF2F;
    --footer-heigth: 5.625rem;
    --header-heigth: 5.625rem;
}

/*
*  Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*
*  Debug
*/



/*
*  Generic
*/
body {
    font-family: 'Montserrat', sans-serif;
}


/*
*  Typo
*/
h2{
    font-size: 1.4375rem;
    font-weight: 700;
    color: #FFF;
    margin-top: 2.5rem;
    margin-bottom: 1.875rem;
} 
h3 {
    font-size: .8125rem;
    font-weight: 600;
    color: var(--text-color);
}

.playlist h3 {
    font-weight: 700;
}

nav span,
nav li {
    font-size: .8125rem;
    font-weight: 600;
    color: var(--text-color);
}

h4 {
    font-size: .75rem;
    font-weight: 700;
    color: #F4F4F4;
}

h5 {
    font-size: .625rem;
    font-weight: 700;
    color: #848484;
}

.player div > span {
    font-size: .625rem;
    font-weight: 700;
    color: #FFF;
}